In [1]:
from PW_explorer.run_clingo import run_clingo
from PW_explorer.load_worlds import load_worlds
from PW_explorer.pwe_query import PWEQuery
from PW_explorer.Custom_Visualization_Functions import euler_visualization_nxpd

In [2]:
import PW_explorer as pwe

In [4]:
clingo_file = None
with open('../ASP/smti_with_costs.lp4') as f:
    clingo_file = [x.strip() for x in f.readlines()]
clingo_file

['accept(X, Y ) :- manpropose(X, Y ), womanpropose(X, Y ).',
 'manpropose(m1, w1).',
 'manpropose(m1, w2) :- not accept(m1, w1), not accept(m1, w3).',
 'manpropose(m1, w3) :- not accept(m1, w1), not accept(m1, w2).',
 'accept(m1, m1) :- not accept(m1, w1), not accept(m1, w2), not accept(m1, w3).',
 'manpropose(m2, w2).',
 'manpropose(m2, w1) :- not accept(m2, w2), not accept(m2, m2).',
 'accept(m2, m2) :- not accept(m2, w2), not accept(m2, w1).',
 'womanpropose(m1, w1) :- not accept(m2, w1).',
 'womanpropose(m2, w1) :- not accept(m1, w1).',
 'accept(w1, w1) :- not accept(m1, w1), not accept(m2, w1).',
 'womanpropose(m1, w2).',
 'accept(w2, w2) :- not accept(m1, w2).',
 'womanpropose(m2, w3).',
 'womanpropose(m1, w3) :- not accept(m2, w3).',
 'accept(w3, w3) :- not accept(m1, w3), not accept(m2, w3).',
 '',
 'mancost(m1, 1) :- accept(m1, w1).',
 'mancost(m1, 2) :- accept(m1, w2).',
 'mancost(m1, 2) :- accept(m1, w3).',
 'mancost(m1, 3) :- accept(m1, m1).',
 '',
 'mancost(m2, 1) :- accept(m2, w2).',
 'mancost(m2, 2) :- accept(m2, w1).',
 'mancost(m2, 2) :- accept(m2, m2).',
 '',
 'womancost(w1, 1) :- accept(m1, w1).',
 'womancost(w1, 1) :- accept(m2, w1).',
 'womancost(w1, 2) :- accept(w1, w1).',
 '',
 'womancost(w2, 1) :- accept(m1, w2).',
 'womancost(w2, 2) :- accept(w2, w2).',
 '',
 'womancost(w3, 1) :- accept(m2, w3).',
 'womancost(w3, 2) :- accept(m1, w3).',
 'womancost(w3, 3) :- accept(w3, w3).',
 '',
 '',
 '%% For Sex-equality',
 '',
 'manweight(Z) :- #sum{B, A: mancost(A, B)} = Z.',
 'womanweight(Z) :- #sum{B, A: womancost(A, B)} = Z.',
 '',
 'sexeq_1(Z) :- manweight(X), womanweight(Y), Z=X-Y.',
 'sexeq_2(Z) :- manweight(X), womanweight(Y), Z=Y-X.',
 '',
 'sexeq(Z) :- #max{A, B: sexeq_1(B), sexeq_2(A)} = Z.',
 '',
 '%#minimize {Z@2 : sexeq(Z)}.',
 '%#minimize {Z : sexeq(Z)}.',
 '',
 '%% For egalitarian cost minimization',
 '',
 'eg_cost(Z) :- manweight(X), womanweight(Y), Z=X+Y.',
 '',
 '%#minimize {Z@4: eg_cost(Z)}.',
 '%#minimize {Z: eg_cost(Z)}.',
 '',
 '%% Max Regret calculation and mimization',
 '',
 'regret_man(Z) :- #max{A: mancost(_, A)} = Z.',
 'regret_woman(Z) :- #max{A: womancost(_, A)} = Z.',
 '',
 'regret(Z) :- #max{B, A: regret_man(A), regret_woman(B)} = Z.',
 '',
 '%#minimize {Z@3: regret(Z)}.',
 '%#minimize {Z: regret(Z)}.',
 '',
 '%% Cardinality Cost (num singles) calculation and minimization',
 '',
 'num_singles(Z) :- #count{A: accept(A, A)} = Z.',
 '',
 '%#minimize {Z@1: num_singles(Z)}.',
 '%#minimize {Z: num_singles(Z)}.',
 '',
 '',
 '#show accept/2.',
 '#show mancost/2.',
 '#show womancost/2.',
 '#show manweight/1.',
 '#show womanweight/1.',
 '%#show sexeq_1/1.',
 '%#show sexeq_2/1.',
 '#show sexeq/1.',
 '#show eg_cost/1.',
 '#show regret/1.',
 '#show num_singles/1.']

In [6]:
clingo_soln = run_clingo(clingo_rules=clingo_file)
print('\n'.join(clingo_soln))

Answer: 1
accept(m1,w1) accept(m2,m2) accept(w2,w2) accept(w3,w3) mancost(m1,1) mancost(m2,2) womancost(w1,1) womancost(w2,2) womancost(w3,3) manweight(3) womanweight(6) sexeq(3) eg_cost(9) regret(3) num_singles(3)
Answer: 2
accept(m2,w1) accept(m1,w2) accept(w3,w3) mancost(m1,2) mancost(m2,2) womancost(w1,1) womancost(w2,1) womancost(w3,3) manweight(4) womanweight(5) sexeq(1) eg_cost(9) regret(3) num_singles(1)
Answer: 3
accept(m2,w1) accept(m1,w3) accept(w2,w2) mancost(m1,2) mancost(m2,2) womancost(w1,1) womancost(w2,2) womancost(w3,2) manweight(4) womanweight(5) sexeq(1) eg_cost(9) regret(2) num_singles(1)
SATISFIABLE

Models       : 3
Calls        : 1
Time         : 0.032s (Solving: 0.00s 1st Model: 0.00s Unsat: 0.00s)
CPU Time     : 0.032s

In [7]:
dfs, rels, pws = load_worlds(clingo_output=clingo_soln, preprocessed=False, reasoner='clingo')

Number of Models: 3

In [9]:
list(map(lambda x: x.__dict__, rels))

[{'relation_name': 'accept_2', 'arity': 2, 'r_id': 0},
 {'relation_name': 'mancost_2', 'arity': 2, 'r_id': 1},
 {'relation_name': 'womancost_2', 'arity': 2, 'r_id': 2},
 {'relation_name': 'manweight_1', 'arity': 1, 'r_id': 3},
 {'relation_name': 'womanweight_1', 'arity': 1, 'r_id': 4},
 {'relation_name': 'sexeq_1', 'arity': 1, 'r_id': 5},
 {'relation_name': 'eg_cost_1', 'arity': 1, 'r_id': 6},
 {'relation_name': 'regret_1', 'arity': 1, 'r_id': 7},
 {'relation_name': 'num_singles_1', 'arity': 1, 'r_id': 8}]

In [10]:
dfs[0]

   pw  x1  x2
0   1  m1  w1
1   1  m2  m2
2   1  w2  w2
3   1  w3  w3
4   2  m2  w1
5   2  m1  w2
6   2  w3  w3
7   3  m2  w1
8   3  m1  w3
9   3  w2  w2